mat-form-field, .slider-container {
  margin: 10px 0;
  width: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.price-input {
  text-align: right;
}
