<div class="containe mb-5">
  <div class="login-container">
    <div></div>
    <form [formGroup]="loginForm" (submit)="logIn()">
      <h2>Iniciar sesión</h2>
      <div class="mt-5 mb-5">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <span class="help-block text-light" *ngIf="validateInput('email')">
          <span *ngIf="loginForm.get('email')?.errors?.required">
            El email es requerido
          </span>
          <span *ngIf="loginForm.get('email')?.errors?.email">
            Formato de email inváido
          </span>
        </span>
      </div>
      <div class="mb-5">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <span class="help-block text-light" *ngIf="validateInput('password')">
          <span *ngIf="loginForm.get('password')?.errors?.required">
            La contraseña es requerida
          </span>
        </span>
      </div>
      <button type="submit" class="btn btn-light">Ingresar</button>
    </form>
    <div></div>
  </div>
</div>
