.movie-container{
  margin: 5rem 0;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 50px;

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  .logo-container{

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      padding: 10px;
      margin-top: 50px;
      width: 64px;

      font-size: 20px;
    }
  }
}
