.tool-mobile {
  display: none;

  @media (max-width: 600px){
    display: flex;
    justify-content: space-between;
  }

  mat-toolbar-row {
    display: flex;
  }

  .logo{
    justify-content: center;
  }

  .movie-actions {
    justify-content: space-between;
  }

  .user-actions {
    justify-content: start;
  }
}

.tool-desktop {

  display: flex;
  justify-content: space-between;

  @media (max-width: 600px){
    display: none;
  }
}

.text-logo {
  cursor: pointer;
}

.user-logged {
  span {
    font-size: 16px;
  }
}
