<header>
  <nav>
    <div class="nav-container">
      <h1>CINE APP</h1>
      <ul>
        <li>
          <a routerLink="/movies" routerLinkActive="active">Películas</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active">Ver Carrito</a>
        </li>
      </ul>
      <ul>
        <li>
          <a routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
